*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.hero-section{
  width: 100%;
  height: 90vh;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 16px 160px;
}

.logo{
  font-size: 24px;
  color: #f9faf8;
}

.header-right{
  display: flex;
  gap: 36px;
  color: #e5e7eb;
  font-size: 18px;
}

.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 90px 6px 90px;
}

.left-section{
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 100px;
}

.bold{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.light{
  color: #e5e7eb;
  font-size: 18px;
}

.button button{
  background-color: #3882f6;
  padding: 10px 16px;
  border-radius: 9px;
  color: #f9faf8;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.right-section img{
  margin: 6px 60px 100px 6px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.white-middle-bg{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  gap: 24px;
}

.white-middle-bg p{
  margin-top: 36px;
  margin-bottom: 15px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.skills-container{
  display: flex;
  gap: 48px;
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #3882f6;
  border-radius: 9px;
}

.skills img{
  width: 210px;
  height: 270px;
  border-radius: 6px 6px 0px 0spx;
}

.skills p{
  color: #626468;
  font-size: 18px;
  font-weight: 600;
}